.bid-message{

}
.bid-message__title{
    margin: 0 0 30px 0;
}
.bid-message__sub-title{
    margin: 0 0 15px 0;
}
.steps {
    margin: 0 0 15px 0;
}
.step {
    margin: 0 0 10px 0;
}
.sub-step{
    text-align: center;
}