.button {
    text-align: center;
    cursor: pointer;
    border: 3px solid #794f45;
    font-size: 26px;
    padding: 15px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #794f45;
    color: #ffffff;
}

.button:disabled,
.button[disabled] {
    border: 3px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}
