.button {
    text-align: center;
    cursor: pointer;
    border: 3px solid #5181b8;
    font-size: 18px;
    padding: 8px;
    text-transform: uppercase;
}

.button:hover {
    background-color: #5181b8;
    color: #ffffff;
}

.button:disabled,
.button[disabled] {
    border: 3px solid #999999;
    background-color: #cccccc;
    color: #666666;
    cursor: not-allowed;
}
