.run-accounts {}
.run-accounts__title{
    margin: 0 0 30px 0;
}
.run-accounts__list {
    display: grid;
    grid-template-columns: repeat(4, auto);
}
.run-accounts__search-form{
    margin: 0 0 30px 0;
}
.run-account-form{
    display: grid;
    grid-template: 1fr / 1fr;
}
.run-account__item {
    padding: 5px;
    border: white 2px solid;
}