<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <filter>
        <filter-name>CharsetFilter</filter-name>
        <filter-class>com.varabei.ivan.controller.filter.CharsetFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>CharsetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>PermissionFilter</filter-name>
        <filter-class>com.varabei.ivan.controller.filter.PermissionFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>PermissionFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>com.varabei.ivan.controller.invoker.RequestProcessor</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/mainServlet</url-pattern>
    </servlet-mapping>

    <security-role>
        <role-name>tomcat</role-name>
    </security-role>
    <security-role>
        <role-name>admin</role-name>
    </security-role>
    <security-role>
        <role-name>client</role-name>
    </security-role>

<!--    <login-config>-->
<!--        <auth-method>BASIC</auth-method>-->
<!--    </login-config>-->
<!--    <security-constraint>-->
<!--        <web-resource-collection>-->
<!--            <web-resource-name>WRCollection</web-resource-name>-->
<!--            <url-pattern>/mainServlet</url-pattern>-->
<!--        </web-resource-collection>-->
<!--        <auth-constraint>-->
<!--            <role-name>client</role-name>-->
<!--        </auth-constraint>-->
<!--    </security-constraint>-->
</web-app>